@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: rgb(142, 200, 209);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

main{
    background:white;
}

.nav {
    padding: 15px 0; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "logo h1 ."
}

#capçalera {
    background:white;
    padding: 15px 0px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav .logo{
    height: 170px;
    width: 170px;
    padding: 0px 10px; 
    /*Cercle imatge*/
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    grid-area: logo;
}

.nav h1{
    text-align: center;
    grid-area: h1;
    align-self: center;
    color: #ffffff; 
    font-family: 'Raleway',sans-serif; 
    font-size: 60px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-transform: uppercase;
}

.titolSeleccio{
    font-size: 28px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
    padding: 15px 10px; 
}

select {
    /* styling */
    background-color: white;
    border: thin solid var(--primary-color);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}  

select.seleccioBarri {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    }
      
select.seleccioBarri:focus {
    background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

#mapaid {
    height: 500px;
}

.footer {
    background-color:var(--primary-color);
    padding: 30px 0; 
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon {
    max-width: 40%;
    height: auto;
}

.titol{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color:var(--primary-color);
    padding: 20px 0px; 
    text-align: center;
}

.descripcio{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 10px 5px;
}
